:root {
  --white: #ffffffff;
  --opera-mauve: #ad7a99ff;
  --beau-blue: #a2cedeff;
  --middle-blue-green: #8cdfd6ff;
  --middle-blue: #6dc0d5ff;
  --hookers-green: #5a716aff;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

input,
button,
select {
  font-family: inherit;
  font-size: 1rem;
}

* {
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;

  &-inline {
    display: inline-flex;
  }
}

.touch-opacity {
  transition: opacity 0.3s ease-out;
  &:active {
    opacity: 0.5;
    transition-duration: 0s;
  }
}

.input {
  display: block;
  width: 100%;
  appearance: none;
  padding: 1rem;
  border: 2px solid var(--hookers-green);
  border-radius: 0.5rem;
  outline: none;
  transition: border-color 0.3s ease-out;

  &:active,
  &:focus {
    transition-duration: 0s;
    border-color: var(--opera-mauve);
  }
}
